main{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

body {
	margin: auto;
	background: center;
	background-color: black;
}



img {
	width: 700px;
	height: 400px;
}

.foodtable {
	border-right-width: 10px;
    height: 200px;
    width: 700px;
    padding-top: 10px;
    padding-left: 30px;
}

table {
    height: 200px;
    width: 700px;
    color: white;
    margin: auto;
    font-size: 10px;
    font-style: italic;
    font-family: 'Barlow ', sans-serif;

}

.tablesection{
	background-color: red;
}

h3 {
	margin: auto;
    height: 15px;
    width: 150px;
    color: white;
    margin-left: 100px;
    margin-right: 0px;
    padding-left: 173px;
    padding-right: 0px;
}

h2 {
	color: black;
	background-image: url(../images/heading-bg.png);
	background-size: cover;
	background-position: center;
	height: 27px;
	width: 280px;
	font-size: 28px;
	text-align: center;
	margin: auto;
	padding: 10px;
	font-family: 'Pinyon Script', cursive;
	font-weight: 500;
	font-style: italic;
}

.headerSection {
	height: 30px;
    width: 200px;
    padding-right: 150px;
    padding-left: 150px;
}

.section input{
	width: 650px;
	background-color: transparent;
	color: white;
	font-weight: bolder;
	margin-right: 25px;
	margin-left: 25px ;
	border-style: solid;
	border-color: white;
	border-radius: 15px;
	height: 40px;
	padding-left: 5px;
}

.section{
	background-image: url('../images/food-plate2.jpg');
	background-size: cover;
	background-position: top;
    padding-bottom: 50px;
    position: relative;
	background-color: rgba(0,0,0,0.5);
	width: 700px;
	margin-right: auto;
	margin-left: auto;

}

.section > h3{
	padding-top: 20px;
	font-family: 'Barlow Condensed', sans-serif;
	padding-bottom: 4px;
}

select {
	width: 650px;
	background-color: transparent;
	color: white;
	font-weight: bolder;
	margin-right: 25px;
	margin-left: 25px ;
	border-style: solid;
	border-color: white;
	border-radius: 15px;
	height: 40px;
	padding-left: 5px;
}

textarea {
	width: 650px;
	height: 120px;
	background-color: transparent;
	color: white;
	margin-right: 25px;
	margin-left: 25px;
	border-style: solid;
	border-color: white;
	border-radius: 15px;
	padding-left: 5px;
	
}


button {
	width: 650px;
	height: 40px;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border: none;
	border-radius: 15px;
	margin-left: 22px;
	margin-bottom: 30px;
	
}

.placeholder {
	color: white;
	font-weight: bolder;
}

#img1 img {
	height: 100px;
	width: 100px;
}

#img1{
	height: 120px;
	width: 100px;
	border-radius: 50%;
	margin-top: -40px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: red;
}

#foodplate {
	height: 100px;
	width: 100px;
	margin-left: 600px;
	margin-bottom: 10px;
	padding-top: 30px;
}



.fa-paper-plane{
	color: black;
	font-size: 7px;
}

#overlay{
	background-color: #000;
	opacity: 0.7;
}
